.about {
    background: #00b1b1;
    width: 100%;
    padding: 20px 0;

	&__img{
		background: url(../images/4ashka.png) no-repeat center center;
		background-size: contain;
	}
    
    & .title {
    	margin-top: 150px;
    }

    &__text {
    	margin-bottom: 225px;
    }

}

